@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    background: rgb(181,201,184);
    background: linear-gradient(196deg, rgba(181,201,184,1) 33%, rgba(96,130,113,0.4137931034482759) 52%);
}
a.active{
    background-color: rgba(187, 247, 208, 0.6);
    font-style: italic;
    border-radius: 10%;
}

